In [3]:
from pathlib import Path
import pandas as pd
import uuid
import shutil

In [12]:
data_dir = Path("data/sample").rglob("*")
data_dir = [str(x.name) for x in data_dir]
# Without week 1 data
data_dir = [x for x in data_dir if not x.startswith(("wk1", "wk2"))]

data_id = pd.DataFrame(data_dir)
data = [x.split("_") for x in data_dir]
df = pd.DataFrame(data, columns=["weeks", "rows", "stops", "date", "time", "type"])
df["file_name"] = data_dir
df['uuid'] = [str(uuid.uuid4()) for _ in range(len(df.index))]
df["weeks"] = df["weeks"].str.replace("wk", "")
df["rows"] = df["rows"].str.replace("row", "")
df["stops"] = df["stops"].str.replace("stop", "")
df = df[["weeks", "rows", "stops", "date", "time", "file_name", "uuid"]]
# df.to_csv("data/sample_data.csv", index=False)
df.head()

,weeks,rows,stops,date,time,file_name,uuid
0,5,9,7,20210422,110448,wk5_row9_stop7_20210422_110448_rgb.png,48f4aeb4-ee3f-4ad9-9b8d-8df7e3691212
1,6,10,16,20210429,190311,wk6_row10_stop16_20210429_190311_rgb.png,c8190732-4f1e-48a1-a50d-45c84ab5e164
2,4,3,2,20210414,111908,wk4_row3_stop2_20210414_111908_rgb.png,13eedb30-0413-4e9c-84f2-0495a1c7ed43
3,4,6,16,20210414,123604,wk4_row6_stop16_20210414_123604_rgb.png,e1f5ab57-d454-4ce0-8c5c-b43eef6e637b
4,4,5,7,20210414,120343,wk4_row5_stop7_20210414_120343_rgb.png,c9fd8646-bf6f-4234-80b4-f84d319f211a

# Create UUID for test images and move to another folder (working_sample)

In [1]:
src_dir = "data/sample"
dst_dir = "data/working_sample"
for fname, uid in zip(list(df["file_name"]), list(df["uuid"])):
    src_p = Path(src_dir, fname)
    dst_name = uid + ".png"
    dst_p = Path(dst_dir, dst_name)
    # shutil.copy(src_p, dst_p)

NameError: name 'df' is not defined

# Create test metadata csv

In [26]:
import pandas as pd
import uuid
values = [["af6bdd8a-b99e-4975-a455-a59d9329c120", "02042022","151425", "TX", 1, 0.2 , "partly cloudy", 35]]
df = pd.DataFrame(values, columns=["upload_id",	"date","time",	"location",	"camera_height",	"pot_height",	"cloud_cover"	,"camera_lens"])
df.to_csv("data/sample_metadata.csv", index=False)

In [27]:
df

,upload_id,date,time,location,camera_height,pot_height,cloud_cover,camera_lens
0,af6bdd8a-b99e-4975-a455-a59d9329c120,02042022,151425,TX,1,0.2,partly cloudy,35

In [55]:
# df = pd.read_csv("data/sample_metadata.csv",header=None, index_col=None, squeeze=False).to_dict()
df = pd.read_csv("data/sample_metadata.csv").to_dict('records')[0]
# df["date"]
df

{'upload_id': 'af6bdd8a-b99e-4975-a455-a59d9329c120',
 'date': 2042022,
 'time': 151425,
 'location': 'TX',
 'camera_height': 1,
 'pot_height': 0.2,
 'cloud_cover': 'partly cloudy',
 'camera_lens': 35}

In [62]:
import csv

mydict = {}

# with open(, mode='r') as inp:
def csv2dict(csv_path):
    with open(csv_path) as f:
        reader = csv.DictReader(f)
        result = {}
        for row in reader:
            for column, value in row.items():  # consider .iteritems() for Python 2
                result[column] = value
    return result
csv2dict("data/sample_metadata.csv")

{'upload_id': 'af6bdd8a-b99e-4975-a455-a59d9329c120',
 'date': '02042022',
 'time': '151425',
 'location': 'TX',
 'camera_height': '1',
 'pot_height': '0.2',
 'cloud_cover': 'partly cloudy',
 'camera_lens': '35'}